{% extends 'base.html.twig' %}

{% block title %}Регистрация прошла успешно{% endblock %}

{% block body %}
    <img src="{{ email.image('@images/email.png') }}" alt="Logo" width="30px">
    <h1>{{ name }}, Вы успешно зарегистрировались</h1>
    <div>

        Теперь вы можете войти под вашим пользователем {{ login }}
        <a href="{{ path('app.login') }}" class="btn btn-outline-primary">Вход</a>
    </div>
{% endblock %}